h1{
    color:red;
    text-align: center;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    text-decoration: none;
    margin-left: 40%;
}
.list{
    float: left;
    display: block;
    padding: 14px;
    text-align: center;
    color: #666;
}
