body{
    font-family: 'PT Serif', serif;
}
.bg-yellow{
    background-color: #ffc017;
    border-bottom: 1px solid rgba(41, 41, 41, 1);
    padding:15px;
}

.list-inline-item{
    margin-bottom: 20px;
}
